@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.primary-button {
  @apply px-6 py-3 rounded-lg font-semibold dark:bg-white dark:text-black bg-black text-white inline-block;
}

.glass {
  background: #09090b;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.env-var-table table td:nth-child(2) {
  word-break: break-all;
  width: 250px;
}
