name: Sync branch

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  sync-branch:
    name: Update preview branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Sync preview branch
        run: |
          git checkout preview
          git rebase origin/main
          git push -u origin preview --force
